@page "/movements/{Type:int}&{Id:int}"
@using IKitaplik.Entities.Enums
@inject IMovementService _service
@attribute [Authorize]


@if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert Severity="Severity.Error" Class="m-4" CloseIcon="@Icons.Material.Filled.Close">
        <MudText>@errorMessage</MudText>
    </MudAlert>
}
else if (isLoading)
{
    <div class="position-absolute w-100 h-100 d-flex flex-column align-items-center bg-white justify-content-center" id="loading">
        <img src="/images/Loading.gif" alt="Loading" />
    </div>
}
else
{
    <MudTable Items="@Items" Hover="true" ReadOnly="true" Filter="new Func<MovementGetDTO, bool>(FilterFunc)"
              SortLabel="Sort By" CommitEditTooltip="Commit Edit">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Hareketler</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<MovementGetDTO, object>(x => x.Id)">Nr</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MovementGetDTO, object>(x => x.MovementDate)">Tarih</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MovementGetDTO, object>(x => x.Title)">Başlık</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MovementGetDTO, object>(x => x.Note)">Mesaj</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MovementGetDTO, object>(x => x.BookName)">Kitap İsmi</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<MovementGetDTO, object>(x => x.StudentName)">Öğrenci İsmi</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nr">@context.Id</MudTd>
            <MudTd DataLabel="Barkod">@context.MovementDate.ToString("dd.MM.yyyy HH:mm")</MudTd>
            <MudTd DataLabel="Barkod">@context.Title</MudTd>
            <MudTd DataLabel="Barkod">@context.Note</MudTd>
            <MudTd DataLabel="Barkod">@context.BookName</MudTd>
            <MudTd DataLabel="Barkod">@context.StudentName</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}

@code {
    [Parameter]
    public int Type { get; set; }
    [Parameter]
    public int Id { get; set; }

    public bool isLoading { get; set; } = false;

    private string errorMessage = "", searchString = "";
    private List<MovementGetDTO> Items = new List<MovementGetDTO>();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            isLoading = true;
            if ((int)MovementType.Deposit == Type)
            {
                var res = await _service.GetAllByDepositIdAsync(Id);
                if (!res.Success)
                {
                    errorMessage = res.Message;
                    return;
                }
                Items = res.Data;
            }
            else if ((int)MovementType.Book == Type)
            {
                var res = await _service.GetAllByBookIdAsync(Id);
                if (!res.Success)
                {
                    errorMessage = res.Message;
                    return;
                }
                Items = res.Data;
            }
            else if ((int)MovementType.Student == Type)
            {
                var res = await _service.GetAllByStudentIdAsync(Id);
                if (!res.Success)
                {
                    errorMessage = res.Message;
                    return;
                }
                Items = res.Data;
            }
            else if ((int)MovementType.Donation == Type)
            {
                var res = await _service.GetAllByDonationIdAsync(Id);
                if (!res.Success)
                {
                    errorMessage = res.Message;
                    return;
                }
                Items = res.Data;
            }
            else
            {
                errorMessage = "Geçersiz tip";
            }
            isLoading = false;
            StateHasChanged();
        }
    }

    private bool FilterFunc(MovementGetDTO item)
    {
        searchString = searchString?.Trim().ToLower() ?? "";
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (item.BookName.ToLower().Contains(searchString))
            return true;
        if (item.StudentName.ToLower().Contains(searchString))
            return true;
        if (item.Title.ToLower().Contains(searchString))
            return true;
        return false;
    }
}
