@{
    Layout = "_Layout";
}
@model PaginatedList<BookGetDTO>
<div class="container mt-5">
    <div class="mb-4 row align-items-center">
        <div class="col-md-5 col-lg-6">
            <h2>Kitap Listesi</h2>
        </div>
        <div class="col-md-5 col-lg-4">
            <form method="get" action="GetAll" class="input-group">
                <input name="bookName" type="text" placeholder="Arama Yapınız" class="form-control" aria-describedby="button-ara"/>
                <button type="submit" class="btn btn-primary input-group-text" id="button-ara">Ara</button>
            </form>
        </div>
        <div class="col-md-2 col-lg-2 text-md-end mt-3 mt-md-0">
            <a href="/Book/Add" class="btn btn-primary w-100">Yeni Kitap Ekle</a>
        </div>
    </div>


    @if (TempData["Message"] != null)
    {
        <div class="mt-2 alert alert-@TempData["MessageType"]">
            @TempData["Message"]
        </div>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Barkod</th>
                <th scope="col">Kitap Adı</th>
                <th scope="col">Yazar</th>
                <th scope="col">Kategori</th>
                <th scope="col">Raf No</th>
                <th scope="col">Adet</th>
                <th scope="col">Durum</th>
                <th scope="col">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
            }
            @foreach (var book in Model.Items)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@book.Barcode</td>
                    <td>@book.Name</td>
                    <td>@book.Writer</td>
                    <td>@book.CategoryName</td> <!-- Kategori ismi dinamik olarak gelir -->
                    <td>@book.ShelfNo</td>
                    <td>@book.Piece</td>
                    <td>@(book.Situation ? "Mevcut" : "Mevcut Değil")</td>
                    <td>
                        <a href="/Book/Update/@book.Id" class="btn btn-sm btn-warning">Düzenle</a>

                        <form asp-action="Delete" asp-controller="Book" asp-route-id="@book.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
                {
                    count++;
                }
            }
        </tbody>
    </table>
    <div>
        <!-- Sayfalama -->
        <nav>
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.PageIndex - 1)">Geri</a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.PageIndex + 1)">İleri</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
