@{
    Layout = "_Layout";
}
@model PaginatedList<Student>
<div class="container mt-5">
    <div class="mb-4 row align-items-center">
        <div class="col-md-5 col-lg-6">
            <h2>Kitap Listesi</h2>
        </div>
        <div class="col-md-5 col-lg-4">
            <form method="get" action="GetAll" class="input-group">
                <input name="studentName" type="text" placeholder="Arama Yapınız" class="form-control" aria-describedby="button-ara" />
                <button type="submit" class="btn btn-primary input-group-text" id="button-ara">Ara</button>
            </form>
        </div>
        <div class="col-md-2 col-lg-2 text-md-end mt-3 mt-md-0">
            <a href="/Student/Add" class="btn btn-primary w-100">Yeni Öğrenci Ekle</a>
        </div>
    </div>


    @if (TempData["Message"] != null)
    {
        <div class="mt-2 alert alert-@TempData["MessageType"]">
            @TempData["Message"]
        </div>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Öğrenci No</th>
                <th scope="col">Adı Soyadı</th>
                <th scope="col">Sınıfı</th>
                <th scope="col">Telefon No</th>
                <th scope="col">Mail Adresi</th>
                <th scope="col">Kaç Kitap Okudu</th>
                <th scope="col">Aktif Kitap Okuyormu</th>
                <th scope="col">Puantajı</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
            }
            @foreach (var student in Model.Items as List<Student>)
            {
                <tr>
                    <th scope="row">@count</th>
                    <td>@student.StudentNumber</td>
                    <td>@student.Name</td>
                    <td>@student.Class</td>
                    <td>@student.TelephoneNumber</td>
                    <td>@student.EMail</td>
                    <td>@student.NumberofBooksRead</td>
                    <td>@(student.Situation ? "Evet" : "Hayır")</td>
                    <td>@student.Point</td>
                    <td>
                        <a href="/Student/Update/@student.Id" class="btn btn-sm btn-warning">Düzenle</a>

                        <form asp-action="Delete" asp-controller="Student" asp-route-id="@student.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-danger">Sil</button>
                        </form>
                    </td>
                </tr>
                {
                    count++;
                }
            }
        </tbody>
    </table>
    <div>
        <!-- Sayfalama -->
        <nav>
            <ul class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.PageIndex - 1)">Geri</a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                        <a class="page-link" href="?page=@i">@i</a>
                    </li>
                }
                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="?page=@(Model.PageIndex + 1)">İleri</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
