@page "/writer/update/{Id:int}"
@inject IWriterService _service
@inject ISnackbar Snackbar
@inject NavigationManager Nav


<h3 class="mt-2">Yazar Ekle</h3>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert Class="my-3" Severity="Severity.Error">@errorMessage</MudAlert>
}

<MudTextField T="string" @bind-Value="writerName" Variant="Variant.Outlined" Label="Yazar Adı"></MudTextField>
<MudDatePicker Label="Doğum Tarihi"
               Date="@birthDate"
               DateChanged="@((DateTime? val) => birthDate = val)"
               Variant="Variant.Outlined" />

<MudDatePicker Label="Ölüm Tarihi"
               Date="@deathDate"
               DateChanged="@((DateTime? val) => deathDate = val)"
               Variant="Variant.Outlined" />
<MudTextField AutoGrow @bind-Value="bio" Variant="Variant.Outlined" Lines="5" Label="Biyografi"></MudTextField>

<MudButton OnClick="Kaydet" Class="mt-2" Variant="Variant.Filled" ButtonType="ButtonType.Button" EndIcon="@Icons.Material.Filled.Save" Color="Color.Warning">Kaydet</MudButton>
<MudButton OnClick="Vazgec" Class="mt-2 ms-1" Variant="Variant.Filled" ButtonType="ButtonType.Button" EndIcon="@Icons.Material.TwoTone.Cancel" Color="Color.Error">Vazgeç</MudButton>


@code {
    [Parameter]
    public int Id { get; set; }

    private string errorMessage = "";
    private string writerName = "";
    private DateTime? birthDate = DateTime.Now;
    private DateTime? deathDate = null;
    private string bio = "";

    protected override async Task OnInitializedAsync()
    {
        var res = await _service.GetAsync(Id);
        if (res.Success)
        {
            writerName = res.Data.WriterName;
            birthDate = res.Data.BirthDate;
            deathDate = res.Data.DeathDate;
            bio = res.Data.Biography;
            StateHasChanged();
        }
        else
            errorMessage = res.Message;
    }

    private void Vazgec(MouseEventArgs args)
    {
        Nav.NavigateTo("writer/list");
    }
    private async Task Kaydet(MouseEventArgs args)
    {
        errorMessage = string.Empty;

        var res = await _service.UpdateAsync(new WriterUpdateDto { Id = Id, WriterName = writerName, Biography = bio, BirthDate = birthDate, DeathDate = deathDate });
        if (!res.Success)
        {
            errorMessage = res.Message;
            return;
        }

        Snackbar.Add(res.Message, Severity.Success);
        Nav.NavigateTo("writer/list");
    }
}
